body {
    background-color: lightgray;
    margin-left: 70px;
    margin-top: 20px;
}

h1 {
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
    background-color: rgb(255, 240, 247);
}

input {
    border-style: double;
    font-size: 18px;
    width: 150px;
}
button {
    background-color: rgb(139, 0, 79);
    padding: 20px 25px;
    font-size: 18px;
    color: white;
}

label {
    font-size: 20px;
}

p {
    font-size: 20px;
    color: rgb(255, 0, 93);
    font-weight: bold;
}
